---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import muxu from '../assets/images/muXu.jpg';
import Contact from '~/components/widgets/Contact.astro';

const metadata = {
  title: 'Muxu',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Muxu"
    image={{
      src: muxu,
      alt: 'MuXu hero image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"> Your embedded Linux partner expert</span>
    </Fragment>

    <Fragment slot="subtitle">
      At Muxu, we handle all your embedded Linux development needs, allowing your team to focus on what truly matters — your application and intellectual property.
    </Fragment>

  </Hero>

  <Features3
    title="Supporting your product growth"
    id="services"
    subtitle="From early deployments to mass production."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Embedded Linux OS',
        description:
          'Hardware support, test automation, security updates - an operating system that does not get in the way.',
        icon: 'tabler:activity'
      },
      {
        title: 'Application development',
        description:
          'Containerized applications for extra security - applications that run anywhere and can grow with your business.',
        icon: 'tabler:settings-automation'
      },
      {
        title: 'Remote management',
        description:
          'Keep devices up to date and healthy - secure remote access, data gathering and updates to give you full control.',
        icon: 'tabler:brand-onedrive'
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our Services"
    subtitle="We offer comprehensive embedded Linux support, assist in containerizing and securing your application, and enable development and testing on widely available hardware and using standard tools. Additionally, we provide remote management solutions, ongoing maintenance, and full lifecycle support for your product."
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Board Support Package (BSP) development',
        description:
          'A Board Support Package (BSP) is the device specific operating system support software - things like bootloader modifications and Linux kernel device tree adaptations, or device driver extensions. Everything  needed to boot and run Linux on a device.',
        icon: 'tabler:template',
      },
      {
        title: 'Operating system development',
        description:
          'Building a root filesystem from source provides full control over the contents, including size, licensing and security updates. It also allows for robust non-package based update strategies like redundant partition updates.',
        icon: 'tabler:template',
      },
      {
        title: 'Boot time optimization',
        description:
          'Instant access to the application is an important requirement for a lot of products - optimizing boot paths and utilizing suspend and hibernation mechanisms can help.',
        icon: 'tabler:template',
      },
      {
        title: 'Secure boot / Chain of trust and disk encryption',
        description:
          'Protecting intellectual property and making sure only authorized software can run on the device has become a commodity feature required by security regulations.',
        icon: 'tabler:template',
      },
      {
        title: 'Secure key storage and device hardening',
        description: 'Protecting the secrets used, device identification and authorization using Trusted Execution Environments (TEE) and ARM TrustZone.',
        icon: 'tabler:template',
      },
      {
        title: 'Regulatory compliance',
        description:
          'Be it security regulations like NIS2, dealing with critical infrastructure security, or the CyberResilience Act (CRA) which applies to product security in the EU, and similar regulations elsewhere, or cellular and wireless certifications, the team at Muxu can help.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Contact Widget ************** -->
  <Contact
    title="Contact Us"
    subtitle="Share your project's details for free consultation"
    tagline=""
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Full Name',
        placeholder: 'Please state your full name'
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
        placeholder: 'someone@email.com'
      },
    ]}
    textarea={{
      label: 'Message',
      placeholder: 'Let us know about your project, the more details the better.'
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
    description='Our team will usually get in touch within 48 hours.'
  /Contact>

</Layout>
