---
import Layout from '~/layouts/LandingLayout.astro';
import { Icon } from 'astro-icon/components'
import { getPermalink } from '~/utils/permalinks';
import Features2 from '~/components/widgets/Features2.astro';
import Contact from '~/components/widgets/Contact.astro';

const metadata = {
  title: 'How we work',
};
---

<Layout metadata={metadata}>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Pricing"
    subtitle=""
    items={[
      {
        title: 'Fixed price',
        description: 'Ideal for constrained projects with a well defined scope.',
        icon: 'flat-color-icons:planner',
      },
      {
        title: 'Time and material',
        description: 'For long duration or dynamic projects, based on the total hours spent.',
        icon: 'flat-color-icons:clock',
      },
    ]}
    columns={2}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-grey-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Contact Widget ************** -->
  <Contact
    title="Contact Us"
    subtitle="Share your project's details for free consultation"
    tagline=""
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Full Name',
        placeholder: 'Please state your full name'
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
        placeholder: 'someone@email.com'
      },
    ]}
    textarea={{
      label: 'Message',
      placeholder: 'Let us know about your project, the more details the better.'
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
    description='Our team will usually get in touch within 48 hours.'
  /Contact>
</Layout>
